.header {
  position: relative;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.settings-cont {
  position: relative;
  .settings {
    position: absolute;
    top: 40px;
    @media (max-width: 991px) { top: 30px; }
    @media (max-width: 767px) { top: 13px; }
    left: 0;
    font-size: 25px;
    line-height: 10px;
    z-index: 999;
  }
  .settings:hover { cursor: pointer; }
  .dropdown-menu {
    top: 70px !important;
    @media (max-width: 991px) { top: 60px !important; }
    @media (max-width: 767px) { top: 43px !important; }
    animation-duration: .2s;
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -o-animation-duration: .2s;
    -ms-animation-duration: .2s;
    border-radius: 0 !important;
    border: 5px solid black !important;
    li.divider {
      height: 3px !important;
      background-color: whitesmoke !important;
    }
  }
  .dropdown-menu>li>a {
    color: black;
  }
}
.center {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.logo, .logo a, .logo, a .blinker {
  text-decoration: none !important;
	font-size: 42px;
  color: black;
  @media (max-width: 991px) { font-size: 32px; }
  @media (max-width: 767px) { font-size: 28px; }
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
}
.text {
	animation-delay: .9s;
	-webkit-animation-delay: .9s;
	-moz-animation-delay: .9s;
	-o-animation-delay: .9s;
	-ms-animation-delay: .9s;
}
.avatar {
  margin: auto;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  img {
    width: 100%;
    height: auto;
  }
}
.avatar-layer {
  display: none;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  border-radius: 50%;
  i {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 50%;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
  }
}
.avatar-layer.active { display: block; }

.clickable:hover { cursor: pointer !important; }
.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.facebook {
  font-size: 20px;
  color: #3b5998 !important;
}

.blinker {
  position: absolute;
  -webkit-animation: 1s blinker step-end infinite !important;
  -moz-animation: 1s blinker step-end infinite !important;
  -ms-animation: 1s blinker step-end infinite !important;
  -o-animation: 1s blinker step-end infinite !important;
  animation: 1s blinker step-end infinite !important;
}
@keyframes blinker {
  from { opacity: 1.0; }
  50% { opacity: 0; }
  to { opacity: 1.0; }
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: rgba(0,0,0,.5);
  .loading {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
  }
}
