<div class="container book-list">
  <div class="row">
    <div class="col-xs-12 title">{{ title }}</div>
  </div>
  <div class="row">
    <div class="book-list-container">
      <div class="book-list-scroll">
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
        <div class="book-container">
          <book-item [title]="'Franny and Zoey'" [author]="'J.D. Salinger'"></book-item>
        </div>
      </div>
    </div>
  </div>
</div>
