.book-list {
  width: 100%;
  margin-bottom: 20px;

  .title {
    background-color: black;
    color: white;
    padding: 5px 15px;
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .book-list-container {
    padding: 0 !important;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
    border: 5px solid black;
    border-top: none;
    @media (max-width: 767px) {
      border: none !important;
    }

    .book-list-scroll {
      width: auto !important;
      white-space: nowrap !important;
      overflow-y: scroll !important;
      -webkit-overflow-scrolling: touch;

      .book-container {
        width: 180px;
        display: inline-block;
        margin-right: 10px;
      }
      .book-container:first-of-type {
        margin-left: 10px;
      }
    }
    @media (max-width: 767px) {
      .book-list-scroll {
        padding: 0 5px !important;
      }
    }
  }
}
