<div class="row">

  <div class="col-sm-offset-3 col-sm-6 col-xs-12">
    <div class="book-preview-container">
      <div class="book-preview-title">Preview</div>
      <div class="book-preview">
        <book-item [book]="book"></book-item>
      </div>
    </div>
  </div>

  <div class="col-sm-offset-3 col-sm-6 col-xs-12">
    <form>
      <!-- title -->
      <div class="form-group mtop">
        <label for="bookTitle">Book Title</label>
        <input name="bookTitle" [(ngModel)]="book.title" type="text" class="form-control" id="bookTitle" maxlength="120" placeholder="Enter a title">
      </div>
      <!-- author -->
      <div class="form-group mtop">
        <label for="bookTitle">Author</label>
        <div>
          <label><input name="authorOptions" type="radio" value="{{ getUserRealName() }}" [(ngModel)]="book.author" (ngModelChange)="authorModelChange({verified:true, authorType:'real-name'})"> Use real name: <b>{{ getUserRealName() }}</b></label>
        </div>
        <div>
          <label><input name="authorOptions" type="radio" value="{{ getAccountUsername() }}" [(ngModel)]="book.author" (ngModelChange)="authorModelChange({verified: true, authorType:'account-username'})"> Use account nickname: <b>{{ getAccountUsername() }}</b></label>
        </div>
        <div>
          <label class="author-label">
            <input name="authorOptions" id="customTyped" type="radio" class="author-rb" value="{{ u.name }}" [(ngModel)]="book.author" (ngModelChange)="authorModelChange({authorType:'custom-username'})">
            <input type="text" class="form-control author-txt" placeholder="Type custom for this novel" name="customTypedUsername" [(ngModel)]="u.name" (ngModelChange)="book.author=u.name; authorModelChange({authorType:'custom-username'})">
          </label>
        </div>
        <div>
          <label><input name="authorOptions" type="radio" value="-" [(ngModel)]="book.author" (ngModelChange)="authorModelChange({anon: true, authorType:'anonymous'})"> Completely anonymous</label>
        </div>
      </div>
      <!-- description -->
      <div class="form-group mtop">
        <label for="bookDescription">Description</label>
        <textarea name="bookDescription" rows="4" [(ngModel)]="book.description" type="text" class="form-control" id="bookTitle" placeholder="Enter what would normally be on the back side of your novel"></textarea>
      </div>
      <!-- color -->
    </form>
  </div>

  <div class="col-sm-offset-3 col-sm-6 col-xs-12">
    <button type="button" class="btn btn-default submit pull-right">Submit</button>
  </div>
</div>
