.row {
  margin-top: 40px;
}

.submit {
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  font-weight: lighter !important;
  label { font-weight: bolder !important; }
}

.mtop {
  margin-top: 30px;
  margin-bottom: 0;
}

.author-label {
  width: 100%;
  position: relative;
  .author-rb { position: absolute; }
  .author-txt {
    padding-left: 30px;
    border: none !important;
    font-size: 18px;
  }
}

input[type="radio"] {
  margin-right: 10px !important;
}

.book-preview-container {
  text-align: center;
  background-color: rgb(249,250,251);
  border: 5px solid black;
  padding: 0;
  padding-bottom: 20px;

  .book-preview-title {
    background-color: black;
    color: white;
    text-align: center;
  }

  .book-preview {
    width: 90%;
    max-width: 200px;
    height: auto;
    margin: auto;
    margin-top: 20px;
  }

}
