<div class="header">
  <div *ngIf="_auth.isLoggedIn()" class="animated slideInDown avatar clickable" (mouseenter)="logoHover=true" (mouseleave)="logoHover=false" (click)="_auth.logout()">
    <div class="logout-layer" [ngClass]="{'active': logoHover===true}"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    <img [src]="_auth.user.photoURL" [alt]="_auth.user.displayName">
  </div>
  <div class="logo animated fadeInUp">novel.kitchen</div>
  <div *ngIf="!_auth.isLoggedIn()" class="text animated fadeIn">
    <div (click)="_auth.login()" class="button facebook">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
      facebook login
    </div>
  </div>
</div>

<router-outlet></router-outlet>
