  <div class="row">
    <div class="col-sm-6 col-xs-12 mobile-padding-none">
      <book-list [list]="myBooks"></book-list>
    </div>
    <div class="col-sm-6 col-xs-12 mobile-padding-none">
      <book-list [list]="booksRead"></book-list>
    </div>
    <div class="col-sm-6 col-xs-12 mobile-padding-none">
      <book-list [list]="booksFavorited"></book-list>
    </div>
    <div class="col-sm-6 col-xs-12 mobile-padding-none">
      <book-list [list]="booksSaved"></book-list>
    </div>
  </div>
