@media (min-width: 1200px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}

html, body, * {
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	user-select: none !important;
	-moz-user-select: none !important;
	-webkit-user-select: none !important;
	-o-user-select: none !important;
	-ms-user-select: none !important;
}

a { color: white !important; }
a:hover { text-decoration: none !important; }

input[type='text'] {
    border: none;
    box-shadow: none !important;
    border-bottom: 3px solid black !important;
    border-radius: 0 !important;
    padding: 0;
}

.input-group-addon {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 3px solid black !important;
}

button {
  border-radius: 0 !important;
  border: none !important;
  color: white !important;
  background-color: black !important;
  outline: none !important;
}
