  <div class="row black first">
    <div class="col-xs-12">
      Social Novel Platform
    </div>
  </div>
  <div class="row">
    <div class="box col-md-3 col-sm-6 col-xs-12">
      <h3 class="box-title">Write a novel</h3>
      <p class="box-text">It's about time you start writing that book you have always dreamed about. Write it openly or anonymously, publish them chapter by chapter or once it's all finished.</p>
    </div>
    <div class="box col-md-3 col-sm-6 col-xs-12">
      <h3 class="box-title">Get discovered</h3>
      <p class="box-text">Have a chance to connect with publishers who are using our platform for talent hunting. Get feedbacks from our community of readers and writers, improve your writing skills.</p>
    </div>
    <div class="box col-md-3 col-sm-6 col-xs-12">
      <h3 class="box-title">Discover</h3>
      <p class="box-text">Find amazing indie novels, follow the works of your favorite authors. Filter novels by wide range of parameters. Get notified when a new chapter / book comes out from followed writer / novel.</p>
    </div>
    <div class="box col-md-3 col-sm-6 col-xs-12">
      <h3 class="box-title">Read</h3>
      <p class="box-text">Read using our site, save books you have read, bookmark where you have left. Or download pdf file, epub or other supported ebook formats. Read them also on your Kindle.</p>
    </div>
  </div>
