<div class="container">
  <div class="row black first">
    <div class="col-xs-12">
      Collaborative Novel Platform
    </div>
  </div>
  <div class="row">
    <div class="box col-md-3 col-sm-6 col-xs-12">
      <h3 class="box-title">Write a novel</h3>
      <p class="box-text">It's about time you start writing that book you have always dreamed about. Write it openly or anonymously. Publish them chapter by chapter or once it's all finished.</p>
    </div>
    <div class="box col-md-3 col-sm-6 col-xs-12">
      <h3 class="box-title">Get discovered</h3>
      <p class="box-text">Have a chance to connect with publishers who are using our platform for talent hunt. Get feedbacks from out community of readers and improve your writing skills.</p>
    </div>
    <div class="box col-md-3 col-sm-6 col-xs-12">
      <h3 class="box-title">Discover</h3>
      <p class="box-text">Find amazing indie novels, follow the works of your favorite authors. Filter by category, a lot of other parameters. Get notified when a new chapter / book comes out.</p>
    </div>
    <div class="box col-md-3 col-sm-6 col-xs-12">
      <h3 class="box-title">Read</h3>
      <p class="box-text">Read using our site, save what you have read and bookmark where you have left. Or download the pdf file, for epub or other supported ebook formats. Also read them on your Kindle.</p>
    </div>
  </div>
</div>
